HTTP_PORT=3000

GOOGLE_REFRESH_TOKEN=
GOOGLE_SENDER_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
MAILER_REDIRECT_URI=

DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_DIALECT=

JWT_SECRET_KEY=
