<div class="ticket">
  <div class="ticket--start">
    <img src="https://i.ibb.co/W3cK42J/image-1.png" />
  </div>
  <div class="ticket--center">
    <div class="ticket--center--row">
      <div class="ticket--center--col">
        <span>Your ticket for</span>
        <strong>The event name</strong>
      </div>
    </div>
    <div class="ticket--center--row">
      <div class="ticket--center--col">
        <span class="ticket--info--title">Date and time</span>
        <span class="ticket--info--subtitle">Thursday, May 14 2020</span>
        <span class="ticket--info--content">7:00 am to 9:00 pm (GMT+1)</span>
      </div>
      <div class="ticket--center--col">
        <span class="ticket--info--title">Location</span>
        <span class="ticket--info--subtitle">Location name</span>
        <span class="ticket--info--content"
          >Location complete address, Town, COUNTRY</span
        >
      </div>
    </div>
    <div class="ticket--center--row">
      <div class="ticket--center--col">
        <span class="ticket--info--title">Ticket type</span>
        <span class="ticket--info--content">Event category</span>
      </div>
      <div class="ticket--center--col">
        <span class="ticket--info--title">Order info</span>
        <span class="ticket--info--content"
          >Order #0123456789. Ordered By Jhon DOE</span
        >
      </div>
    </div>
  </div>
  <div class="ticket--end">
    <div>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/7/78/Qrcode_wikipedia_fr_v2clean.png"
      />
    </div>
    <div><img src="https://qidoon.com/assets/img/logo.svg" /></div>
  </div>
</div>
